.evolution-chain{
    display: flex;   
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
}
.evolution-chain  div{
    width: 33%;
}
.evolution-chain  p {
    margin: 0;
    justify-content: center!important;
    color: var(--text-black, #17171B);
    text-align: center;
    /* Filter Title */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    height: 20px;
}
.arrow {
    width: 20px;
    height: 20px;
    background: url("../../assets/img/icons/arrow.svg") no-repeat;
    display: block;
    position: relative;
    top: -50%;
    left: 85%;
    opacity: 0.3;
    background-size: cover!important;
}

.evolution-item img{
    transition: transform 0.5s;
    cursor: pointer;
}
.evolution-item img:hover{
    transform: scale(1.05) rotate(5deg);
    transition: transform 0.5s;
}