.search-results{
    max-height: 50vh;
    overflow: auto;
    position: absolute;
    z-index: 2;    
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
   
}
.list-group{
    margin: 10px 30px;
    /* Description */
    font-size: 16px!important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-group-item{
    cursor: pointer;
    font-size: 1.5em;
    color: var(--text-black)!important;
    background-color: var(--text-white)!important;    
}
.list-group-item:hover{
    filter: brightness(1.2);
}

.search-results.hide{
    display: none;
}

.input-search{
    border-radius: 10px;
    background: var(--text-white, #F2F2F2);    
    display: flex;
    color: var(--text-black)!important;
    width: 100%;
    padding: 20px 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border:  1px solid var(--text-gray, #747476);
    padding-left: 60px;
}

.search-icon{
    width: 25px;
    height: 25px;
    display: block;
    background: url("../../assets/img/icons/search.svg") no-repeat center;
    position: absolute;
    background-size: contain;
    margin: 20px;
    opacity: 0.5;
    
}
